<div class="row">
    <div class="col-md-12">
        <div>
            <div class="row" style="margin-top: -10px; margin-bottom: 10px">
                <div class="col-md-2">
                    <div id="ftrPeriodoGuardias"></div>
                </div>
                <div class="col-md-2">
                    <div id="ftrDiaGuardias"></div>
                </div>
                <div class="col-md-2">
                    <input type="submit" value="Consultar" id='btnConsultarGuardias' />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" style="height: 360px">
    <div class="col-md-12 " style="margin-top: -5px">
        <div id="grdGuardias"></div>
    </div>
</div>

