<div class="row">
    <div class="col-md-12">
        <div>
            <div class="row" style="margin-top: -10px; margin-bottom: 10px">
                <div class="col-md-2" id="colMedicoServicios">
                    <div id="ftrMedicoServicios"></div>
                </div>
                <div class="col-md-2">
                    <div id="ftrPeriodoServicios"></div>
                </div>
                <div class="col-md-2">
                    <div id="ftrDiaServicios"></div>
                </div>
                <div class="col-md-2">
                    <div id="ftrCoordServicios"></div>
                </div>
                <div class="col-md-2">
                    <input type="submit" value="Consultar" id='btnConsultarServicios' />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" style="height: 360px">
    <div class="col-md-12 " style="margin-top: -5px">
        <div id="grdServicios"></div>
    </div>
</div>

