
<div class="row" style="margin-top:20px">
    <div class="col-md-10">
        <ul class="nav nav-tabs" id="tabsCliente">
            <li class="active"><a href="#guardias" data-toggle="tab">Guardias</a></li>
            <li class=""><a href="#servicios" data-toggle="tab">Servicios</a></li>
            <li class=""><a href="#resumen" data-toggle="tab">Resumen</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane fade active in" id="guardias">
                @Html.Partial("_Guardias")
            </div>
            <div class="tab-pane fade" id="servicios">
                @Html.Partial("_Servicios")
            </div>
            <div class="tab-pane fade" id="resumen">
                @Html.Partial("_Resumen")
            </div>
        </div>

        @Html.Partial("_Totalizador")
    </div>

    <div class="col-md-2">
        <div class="list-group" id="listInstruccionesUso">
            <a href="#" class="list-group-item active">Instrucciones de uso</a>
            <a href="#" class="list-group-item"><span class="glyphicon glyphicon-ok-circle verde icon-right-margin big-icon "></span>Conforme con los valores del servicio</a>
            <a href="#" class="list-group-item"><span class="glyphicon glyphicon-remove-circle rojo icon-right-margin big-icon "></span>No conforme con los valores del servicio</a>
            <a href="#" class="list-group-item"><span class="glyphicon glyphicon-exclamation-sign amarillo icon-right-margin big-icon "></span>He recibido respuesta a mi reclamo</a>
            <a href="#" class="list-group-item"><span class="glyphicon glyphicon-ok-circle azul icon-right-margin big-icon "></span>Reclamo aceptado y se aplica la diferencia</a>
            <a href="#" class="list-group-item"><span class="glyphicon glyphicon-remove-circle naranja icon-right-margin big-icon "></span>Reclamo no aceptado e importe no alterado</a>
        </div>
    </div>
</div>
