<div class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="navbar-top-paramedic">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand title-paramedic" href="#"><img src="../../Content/img/paramedic.png" id="logo-paramedic" /></a>
            <p class="navbar-text title-paramedic" style="color:#357ebd">@ViewBag.Title</p>
        </div>

        <div class="navbar-collapse collapse">
            <div class=" navbar-text pull-right">
                <span style="display:block">
                    <i class="fa fa-user azul"></i>
                    <span id="user-paramedic">@Session["UserName"]</span>
                    <span id="icons-top-separator">
                        |<span>
                            <a href="javascript:window.open('','_self').close();" class="btn btn-default btn-xs" id="navbar-top-logout"><span class="glyphicon glyphicon-off blanco"></span></a>
                        </span>
                    </span>
                </span>
            </div>
        </div>
    </div>
</div>