<div class="row">
    <div class="col-md-3">
        <div class="alert alert-warning" style="padding: 8px; margin-top: -10px">
            <div class="row">
                <div class="col-md-2" style="line-height: 28px">
                    <strong>Fecha:</strong>
                </div>
                <div class="col-md-10">
                    <div id="dtDenuncias"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-7">
        <div class="alert alert-warning" style="padding: 10px; margin-top: -10px;font-size:13px">
            <span class="glyphicon glyphicon-ok-circle rojo icon-right-margin big-icon "></span>
            <span><strong>Denuncias: </strong>Vista de las denuncias de la fecha seleccionada</span>
        </div>
    </div>
    <div class="col-md-2">
        <div style="padding: 8px; margin-top: -10px">
            <a href="#" id="exportarAExcelDenuncias" class="btn btn-default btn-success btn-block"><span class="glyphicon glyphicon-download"></span> Exportar a Excel</a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div id="grdDenuncias"></div>
    </div>
</div>

