<div class="row">
    <div class="col-md-3">
        <div class="alert alert-warning" style="padding:8px;margin-top:-10px">
            <span class="glyphicon glyphicon-time naranja icon-right-margin big-icon "></span>
            <strong> &Uacute;lt. Actualizaci&oacute;n:</strong> <span id="horarioActualErroneos"></span>
        </div>
    </div>

    <div class="col-md-9">
        <div class="alert alert-warning" style="padding:8px;margin-top:-10px">
            <span class="glyphicon glyphicon-remove-circle rojo icon-right-margin big-icon "></span>
            <span><strong>Servicios Err&oacute;neos: </strong>Todos los servicios que han sido recepcionados y despachados, pero su sistema de autorizaci&oacute;n no los ha autorizado</span>
        </div>
    </div>
</div>

<div class="row">
    <div id="grdOperativaFinalizados"></div>
</div>

