<div class="row">
    <div class="col-md-3">
        <div class="alert alert-warning" style="padding:8px;margin-top:-10px">
            <div class="row">
                <div class="col-md-2" style="line-height:28px">
                    <strong> Fecha:</strong>
                </div>
                <div class="col-md-10">
                    <div id="dtServFinalizados"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-7">
        <div class="alert alert-warning" style="padding:8px;margin-top:-10px">
            <span class="glyphicon glyphicon-ok-circle verde icon-right-margin big-icon "></span>
            <span style="line-height:28px"><strong>Servicios Finalizados: </strong>Refiere a todos los servicios cuyo final ya ha sido establecido por el m&oacute;vil</span>
        </div>
    </div>
</div>

<div class="row">
    <div id="grdOperativaFinalizados"></div>
</div>

