<div class="modal fade" id="popupValidarErroneos" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <div class="modal-title">
                    <span>
                        <i class="fa fa-edit big-icon naranja"></i>
                        <span style="font-size:18px;margin-left:5px">Correcci&oacute;n de Servicio BYF</span>
                    </span>                                        
                </div>
            </div>
            <div class="modal-body">
                <form method="POST" action="OperativaClientes/sarasa" id="formSetReclamo">
                    <input type="hidden" name="GuardiaID" id="GuardiaID" />
                    <div class="row row-show-grid">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="popTxtPaciente">Paciente</label>
                                <div class="input-group">
                                    <span class="input-group-addon" style="background-color: #428bca"><i class="fa fa-user big-icon blanco"></i></span>
                                    <input type="text" class="form-control" id="popTxtPaciente" readonly="readonly" value="FERRARA, JOSE" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row row-show-grid">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="popTxtNroOrden">Nro. Orden</label>
                                <div class="input-group">
                                    <span class="input-group-addon" style="background-color: #428bca"><i class="fa fa-file-o big-icon blanco"></i></span>
                                    <input type="text" class="form-control" id="popTxtNroOrden" value="6588995" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="popTxtNroAfiliado">Nro. Afiliado</label>
                                <div class="input-group">
                                    <span class="input-group-addon" style="background-color: #428bca"><i class="fa fa-caret-square-o-down big-icon blanco"></i></span>
                                    <input type="text" class="form-control" id="popTxtNroAfiliado" value="6588993242345" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="btn-group col-md-offset-4">
                            <button type="button" class="btn btn-default btn-lg" data-dismiss="modal">Cerrar</button>
                            <input type="submit" id="btnGuardarReclamoGuardia" class="btn btn-primary btn-lg">
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

