

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    font-family: 'Droid Sans', sans-serif;
    font-weight: 400;
    margin-left: 10px;
    margin-right: 10px;
    overflow-x: hidden;
    padding-top: 50px;
}



.jqx-widget, .jqx-widget-content, .jqx-widget-bootstrap {
    font-family: 'Droid Sans', sans-serif;
    font-weight: 400;
}

.jqx-dropdownlist-content, .jqx-listitem-state-selected, .jqx-listitem-state-normal {
    font-family: 'Droid Sans', sans-serif;
    font-weight: 400;
}

.row-show-grid {
    margin-bottom: 10px;
}

.azul {
    color: #357ebd;
}

.blanco {
    color: white;
}

.verde {
    color: #27ae60;
}

.rojo {
    color: #e74c3c;
}

.naranja {
    color: #e67e22;
}

.amarillo {
    color: #f1c40f;
}

.icon-right-margin {
    margin-right: 10px;
}

.big-icon {
    font-size: 18px;
}

#user-paramedic {
    font-weight: 700;
    color: #357ebd;
    margin-right: 5px;
}


#navbar-top-paramedic {
    background: white;
    height:20px;
    /*	background:#357ebd;*/
    border-bottom: 2px solid #e67e22;
}

.title-paramedic {
    color: #357ebd;
    font-weight: 700;
}

    .title-paramedic:hover {
        color: #e67e22;
    }

#logo-paramedic {
    margin-top: -8px;
}

#navbar-top-logout {
    background: #e67e22;
    border-color: #e67e22;
    margin-left: 5px;
}

#icons-top-separator {
    font-weight: 700;
}

.list-group > a {
    font-size: 13px;
}

.tab-pane {
    margin-top: 20px;
}

.panel-opciones-general {
    height: 45px;
}

#contentRight {
    border-left: 1px dashed #333;
}

#listInstruccionesUso {
    margin-top: 60px;
}

.p-offer {
    margin-top: 15px;
}

.modal-header {
    border-bottom: 2px solid #e67e22;
    background-color: #428bca;
    color: white;
}

#busy
{
    position: absolute;
    left: 50%;
    display:none;
    top: 35%;
    z-index: 9999999;
}

#busy-holder
{
    background: transparent;
    width: 100%;
    height: 100%;        
}

#floatingCirclesG{
position:relative;
width:100px;
height:100px;
-moz-transform:scale(0.6);
-webkit-transform:scale(0.6);
-ms-transform:scale(0.6);
-o-transform:scale(0.6);
transform:scale(0.6);
}

.f_circleG{
position:absolute;
background-color:#428bca;
height:18px;
width:18px;
-moz-border-radius:9px;
-moz-animation-name:f_fadeG;
-moz-animation-duration:0.64s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear;
-webkit-border-radius:9px;
-webkit-animation-name:f_fadeG;
-webkit-animation-duration:0.64s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-ms-border-radius:9px;
-ms-animation-name:f_fadeG;
-ms-animation-duration:0.64s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:linear;
-o-border-radius:9px;
-o-animation-name:f_fadeG;
-o-animation-duration:0.64s;
-o-animation-iteration-count:infinite;
-o-animation-direction:linear;
border-radius:9px;
animation-name:f_fadeG;
animation-duration:0.64s;
animation-iteration-count:infinite;
animation-direction:linear;
}

#frotateG_01{
left:0;
top:41px;
-moz-animation-delay:0.24s;
-webkit-animation-delay:0.24s;
-ms-animation-delay:0.24s;
-o-animation-delay:0.24s;
animation-delay:0.24s;
}

#frotateG_02{
left:12px;
top:12px;
-moz-animation-delay:0.32s;
-webkit-animation-delay:0.32s;
-ms-animation-delay:0.32s;
-o-animation-delay:0.32s;
animation-delay:0.32s;
}

#frotateG_03{
left:41px;
top:0;
-moz-animation-delay:0.4s;
-webkit-animation-delay:0.4s;
-ms-animation-delay:0.4s;
-o-animation-delay:0.4s;
animation-delay:0.4s;
}

#frotateG_04{
right:12px;
top:12px;
-moz-animation-delay:0.48s;
-webkit-animation-delay:0.48s;
-ms-animation-delay:0.48s;
-o-animation-delay:0.48s;
animation-delay:0.48s;
}

#frotateG_05{
right:0;
top:41px;
-moz-animation-delay:0.56s;
-webkit-animation-delay:0.56s;
-ms-animation-delay:0.56s;
-o-animation-delay:0.56s;
animation-delay:0.56s;
}

#frotateG_06{
right:12px;
bottom:12px;
-moz-animation-delay:0.64s;
-webkit-animation-delay:0.64s;
-ms-animation-delay:0.64s;
-o-animation-delay:0.64s;
animation-delay:0.64s;
}

#frotateG_07{
left:41px;
bottom:0;
-moz-animation-delay:0.72s;
-webkit-animation-delay:0.72s;
-ms-animation-delay:0.72s;
-o-animation-delay:0.72s;
animation-delay:0.72s;
}

#frotateG_08{
left:12px;
bottom:12px;
-moz-animation-delay:0.8s;
-webkit-animation-delay:0.8s;
-ms-animation-delay:0.8s;
-o-animation-delay:0.8s;
animation-delay:0.8s;
}

@-moz-keyframes f_fadeG{
0%{
background-color:#FFFFFF}

100%{
background-color:#428bca}

}

@-webkit-keyframes f_fadeG{
0%{
background-color:#FFFFFF}

100%{
background-color:#428bca}

}

@-ms-keyframes f_fadeG{
0%{
background-color:#FFFFFF}

100%{
background-color:#428bca}

}

@-o-keyframes f_fadeG{
0%{
background-color:#FFFFFF}

100%{
background-color:#428bca}

}

@keyframes f_fadeG{
0%{
background-color:#FFFFFF}

100%{
background-color:#428bca}

} 